<%- include('./partials/logged-in-header') %>
<div class="cartTab">
    <h1>Your Orders</h1>
    <div class="listCart">
        <% items.forEach( (el) => {%>
            <% el.forEach( (el) => {%>
            <div class="item order">

                <div class="name"><%= el.name %></div>
                <div class="image">
                    <img src="<%= `/imgs/${el.image}`%>" alt="">
                </div>
                <div class="totalPrice"><%= el.price %>$</div>
                <div class="quantity">
                    <span ><%= el.count %></span>
                </div>
            </div> 
            <% })%>
    <% })%>
</div>

<div class="btn">
<% let total = 0 %>
<% items.forEach( (el) => {%>
    <% el.forEach( (el) => {%>
        <% total +=el.count * el.price %>
        <% } )%>
        <% } )%>
</div>
<div class="d-flex justify-content-center">
<h4>total: <%= total %>$</h4>
</div>
</div>
    


</div>
<div class="cartBtn">
    <button type="button" class="btn btn-lg btn-outline-primary">
        <a href="/menu">Back To Menu</a> 
    </button>
</div>
<%- include('./partials/footer') %>
